@use 'sass:math';
@use 'sass:list';

@import "lib";

@import "settings/fonts";

// Utilities
// // -----------------------------------------------------------------------------
// @import "utils/variables";
// @import "utils/mixins";
// @import "utils/functions";
// @import "utils/animations";

// Utilities
// -----------------------------------------------------------------------------
@import "utils/utilities";
@import "utils/grid";

// Base
// -----------------------------------------------------------------------------
@import "base/reset";
@import "base/base";
@import "base/typography";
@import "base/transitions";

// set space var, used in space function
:root {
  --space: 5px;
  @include mq(md) {
    --space: 10px;
  }
}
