@import "styles/lib";

.billboard {
  background: color(dark-background);
  color: color(white);
  padding: space(xxl);

  @include row;

  > * {
    grid-column: 1 / 13;
    @include mq(md) {
      grid-column: 1 / 6;
      //grid-row: 1;
    }
  }
}

.image {
  //border: 2px solid red;
  width: 100%;
  height: auto;

  margin-top: space(md);
  grid-column: 1 /13;
  grid-row-start: 3;

  @include mq(md) {
    margin-top: 0;
    grid-column: 7 / 13;
    grid-row: 1 / 5;
  }
}

.tagline {
  color: color(muted);
  margin-bottom: space(xs);
}

.emailform {
  margin: space(md) 0;
  display: inline-flex;
  height: rem(50px);
  border: 1px solid color(white);
  border-radius: 50em;
  padding: 2px;

  grid-column: 1 / 8;
  @include mq(md) {
    grid-column: 1 / 6;
    //grid-row: 1;
  }

  &:focus-within {
    border-color: color(primary);
  }

  input {
    width: 100%;
    border: none;
    appearance: none;
    color: color(muted);
    background: transparent;
    border-radius: 50em;
    padding: space(1) space(sm);
    &:focus {
      outline: none;
      background: rgba(color(primary), 0.1);
    }
  }

  submit {
    width: rem(44px);
    height: rem(44px);
    appearance: none;
    border: none;
    background: color(white);
    border-radius: 50%;
  }
}

.features {
  margin-top: auto;
  @include row(2);
  gap: space(xxl);

  @include mq(md) {
    grid-column: 1 / 7;
    //grid-row: 1;
  }
}

.feature {
  display: flex;
  gap: space(sm);
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.feature + .feature {
  border-left: 1px solid color(border);
  padding-left: space(xxl);
}

.number {
  font-size: 3em;
  line-height: 1;
}

.name {
  color: color(muted);
}
